@charset "utf-8";
/* CSS Document */

nav {
	--nav-color: rgba(252,252,252,1.00);
	--nav-ac-color: #b8a5de;
	--sd-color: rgba(0, 0, 0, 0.2);

	--nav-text-color: black;
	
	--nav-height: 75px;


	right: 0;
	left: 0;
	margin: 0;
	z-index: 99;
	
}

#top {
	position: -webkit-sticky; 
	position: sticky;

	top: 0;
}

div.nav {
	background-color: var(--nav-color);
	display: flex;

	flex-wrap: wrap;
	-ms-align-items: center;
	align-items: center;
	overflow: hidden;

	width: 100%;
	height: var(--nav-height);
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

div.navImg{
	max-width: 300px;
	overflow: hidden;
	padding: 0 10px;
	
	flex-shrink:0;
}
a.navImg{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
a.navImg img {
	max-width: 100%;
/*	max-height: var(--nav-height);*/
	max-height: calc(var(--nav-height) - 15px);
}


div.navButtons {
	display: flex;
	flex-wrap: wrap;
	flex-grow: 1;
	align-items: center;
	padding: 0;
	padding: 0 20px;
	height: var(--nav-height);
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
	
}

ul.nav {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	margin: 0;
	
	padding: 0 10px;
	
	flex-grow: 1;
	
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
}

a.nav {
	padding: 0 10px;
}

div.navAccount{
	display: flex;
	flex-wrap: wrap;
/*	align-items: center;*/
	height: var(--nav-height);
	
}

div.navAccountName{
	padding-left: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: var(--nav-height);
/*	padding-top: calc(var(--nav-height) * 0.1);*/
}

div.navAccountName p { /* betere font size met percentages*/
	flex-shrink: 1;	
	font-size: 18px;
	justify-content: center;
	line-height: calc(var(--nav-height) * 0.4); 
	padding: 0; 
	margin: 0;
}

a.nav, a.navAccount {
	
	display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
	
	height: var(--nav-height);
	text-decoration: none;
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 600;
	transition: 0.15s ease-in-out color;

	color: var(--mla-blauw-paars);
	
}
a.navAccount {
	font-size: 35px;
	padding: 0 calc(var(--nav-height) * 0.5 - 17.5px);
	height: var(--nav-height);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	-ms-align-items: center;
	align-items: center;
}


a.nav:hover, a.nav:active,  a.navAccount:hover, a.navAccount:active,  #active {
/*	color: var(--mla-blauw-paars);*/
	color: var(--mla-lila);
}


